@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

h1 {
  font-size: 1.4em;
  margin: 0px;
}
h2 {
  font-size: 1.2em;
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px
}

li {
  list-style: none;
}

.article-heading {
  color: #1584E6;
}

.header-background {
  background: #1584E6;
}